@model List<FeedbackDTO>

<a asp-controller="Feedback" asp-action="CreateFeedback">
    <button class="btn btn-primary">Create feedback</button>

</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model)
        {
            <tr>
                <th scope="row">@feedback.Id</th>
                <td>@feedback.FirstName</td>
                <td>@feedback.Email</td>
                <td>@feedback.Message</td>

                <td>

                    <a asp-action="DeleteFeedback" asp-route-id="@feedback.Id">

                        <button class="btn btn-danger">Delete</button>

                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>