@model List<UserDTO>


<a asp-action="Create">
<button class="btn btn-primary">Create User</button>

</a>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">
                        <button class="btn btn-warning">Edit User</button>

                    </a>


                    <a asp-action="Delete" asp-route-id="@user.Id">>
                        <button class="btn btn-danger">Delete User</button>

                    </a>

                </td>


            </tr>
        }
 
    </tbody>
</table>
