@model Game

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Pic</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Name</td>
            <td>@Model.Pic</td>
            <td>@Model.Price</td>
            <td>@Model.Description</td>
            <td>@Model.Link</td>
        </tr>
    </tbody>
</table>

<a asp-action="Index">
    <button class="btn btn-secondary">Back</button>
</a>

